table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin: auto;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}

p{
    color: #9B5DE0 ;
}
.pim {
    color: rgb(88, 0, 65);
}
img {
    border-radius:100%;
    width: 300px;
}

body {
  background-color: antiquewhite;
  text-align: center;
}

.noboarder{
  border-style: none;
}

hr{
  background-color: white;
  border-style: dotted,none,none;
  width: 30%;
  border-color: rgb(96, 0, 86);
  border-width: 5px;
}

